@tailwind base;
@tailwind components;
@tailwind utilities;

.stepper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 1026px;
    height: 77px;
}

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.step-symbol{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 5px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.active {
    background-color: #EBAD1E;
}

.complete {
background-color: #EBAD1E;
}

.progress-bar{
    position: absolute;
    top: 30%;
    left: 0;
    height: 4px;
    background-color: #EAEAEA;;
}

.progress{
    height: 100%;
    background-color: #EBAD1E;
    transition: 0.2s ease;
}