@tailwind base;
@tailwind components;
@tailwind utilities;

.stepper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 1026px;
    height: 77px;
}

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.step-symbol{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 5px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.active {
    background-color: #EBAD1E;
}

.complete {
background-color: #EBAD1E;
}

.progress-bar{
    position: absolute;
    top: 30%;
    left: 0;
    height: 4px;
    background-color: #EAEAEA;;
}

.progress{
    height: 100%;
    background-color: #EBAD1E;
    transition: 0.2s ease;
}

/* Calender design */
.react-datepicker{
    border: none !important;
}
.react-datepicker__header{
    background-color: transparent !important;
    border-bottom: none !important;
    padding: 20px 0px !important;
}
.react-datepicker__month-container{
    @apply w-[30rem]
}
.react-datepicker__week {
    @apply w-full flex justify-between
}
.react-datepicker__day-names {
    @apply w-full flex justify-between text-2xl font-[600]
}
.react-datepicker__month{
    @apply flex flex-col gap-5
}
.react-datepicker__navigation{
    top: 2.5rem !important;
    width: 228px !important;
}

.react-datepicker__day {
    @apply text-2xl font-[400]
}
.react-datepicker__current-month {
    font-size: 24px !important;
    font-weight: 400;
    padding: 20px !important;
}

.react-datepicker__day--selected{
    background-color: #0F1337 !important;
    border-radius: 50% !important;
    font-size: large;
}

